/* page scale */

html {
    font-size: var(--scale);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: var(--canvas-bgcolor);
}

/* section breaks */
hr {
    /* null border widths */
    border: 0;
    /* null height */
    height: 0;
    /* set single pixel top border style */
    border-top: 1px solid rgb(238, 238, 238);
    /* edge to edge margin with space on top and bottom */
    margin: 1.25em 0;
}