/* the page background behind all elements */

/* the main space excluding footer */

.canvas-main {
    flex: 1 0 auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(101, 101, 101);
}

.canvas-footer {
    flex-shrink: 0;
    color: #fff;
    background-color: var(--canvas-footer-bgcolor);
    text-align: center;
    padding: 1rem 0;
    clear: both;
}
/* scale footer font size to width of viewport */
.canvas-footer p { font-size: 3vw; }
/* override footer font size on wider layouts */
@media only screen and (min-width: 501px) { .canvas-footer p { font-size: 1em; } }

.pad {
    /* extra padding on top to account for margins */
    padding: 1em 0.5em 0.5em 0.5em;
    /* make sure floating children still fill */
    overflow: hidden;
}

.container {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 1rem;
    background-color: #fff;
}

.container img {
    width: 100%
}

.card {
    padding: 0 8px;
    min-width: 320px;
}

.card ul {
    /* remove default bullets */
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: outside;
    display: grid;
    grid-gap: 1rem;
}

.card li {
    /* bullet takes up full height */
    display: flex;
}

/* listItem bullets */
.card li::before {
    /* width of bar */
    border-width: 0.20em;
    /* color settings */
    color: var(--canvas-accentcolor1);
    opacity: 0.6;
    /* fill in color */
    border-style: solid;
    content: '';
    /* stretch bar to full height of text */
    align-items: stretch;
    /* curve edges */
    border-radius: 4px;
    /* spacing to the right of bullet */
    margin: 0 0.18em 0 0;
}

/* custom header2 padding */
.card h2 {
    padding-top: 16px;
    margin-top: 0;
}

/* spacing for divs */
.card div {
    padding: 0 1rem;
}

/* icon placement in card */
.card .icon {
    padding-left: 0.18em;
    padding-right: 1em;
}

/* highlight text with theme color */
.highlight {
    color: #fff;
    background-color: var(--canvas-accentcolor1);
    border-radius: 0.25em;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: center;
}

/* panel spacing */
.panel { padding: 0.01em 16px; }

/* icon placement in panel */
.panel .icon { margin-right: 1em; }

/* formatting for progress bars */
.progressbar {
    /* fill space */
    width: 100%;
    /* empty progress bar shading */
    background-color: var(--canvas-bgcolor);
    /* curve corners */
    border-radius: 1em;
}

.progressbar div {
    /* progress bar height */
    height: 0.7em;
    /* inherit corner curve from parent */
    border-radius: inherit;
    /* the full progress bar color */
    background-color: var(--canvas-accentcolor1);
}

/* formatting for a combined text label with adjacent progress bar */
.labelbar {
    /* use grid layout for alignment */
    display: grid;
    /* grid width ratio */
    grid-template-columns: 1fr 3fr;
    /* gap between columns */
    grid-gap: 1.25em;
    /* set padding to top and bottom */
    margin: 1em 0;
}

/* fit width to text length */
.labelbar .label { width: fit-content; }

/* align progress bar with text */
.labelbar div { align-self: center; }
