RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# don't pass favicon.ico requests to application
RewriteCond %{REQUEST_URI} !=/favicon.ico

# route URI requests through index.php
RewriteRule ^(.*)$ index.php?load=$1 [PT,L,QSA]

# protect config.php
RewriteRule ^config.php?$ / [L,R,NC]
RewriteRule ^utilities/(.*) / [L,R,NC]
